This notebook aims to reassign paper id. This is because there are many duplications in years between 2015 and 2018.

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("../data/processed/paper_df.csv")

In [5]:
df.head(3)

,Paper ID,Title,Paper Type,Abstract,Number of Authors,Year,Session,Division/Unit
0,2003-0001,Access to the Media Versus Access to Audiences...,Paper,When the issue of speakers' rights of access a...,1.0,2003,NaN,NaN
1,2003-0002,Accounting Episodes as Communicative Practice ...,Paper,In this paper I describe accounting episodes a...,1.0,2003,NaN,NaN
2,2003-0003,Accounts of Single-fatherhood: A case study,Paper,Abstract\nRelying on single-fathers accounts ...,4.0,2003,NaN,NaN

In [1]:
# for group in df.groupby("Year"):
#     year = group[0]
#     group[1]["new_paper_id"] =

In [9]:
df.reset_index(names="new_paper_id", inplace=True)

In [12]:
df.to_json("papers_df.json", orient="records")