In [3]:
import pandas as pd 
import numpy as np

In [4]:
authors = pd.read_csv('../data/processed/author_df.csv')
authors.head()

,Paper ID,Title,Number of Authors,Author Position,Author Name,Author Affiliation,Year
0,2003-0001,Access to the Media Versus Access to Audiences...,1,1,Philip Napoli,Fordham U,2003
1,2003-0002,Accounting Episodes as Communicative Practice ...,1,1,Mariko Kotani,Aoyama Gakuin University,2003
2,2003-0003,Accounts of Single-fatherhood: A case study,4,1,Tara M Emmers-Sommer,University of Arizona,2003
3,2003-0003,Accounts of Single-fatherhood: A case study,4,2,David Rhea,University of Arizona,2003
4,2003-0003,Accounts of Single-fatherhood: A case study,4,3,Laura Triplett,University of Arizona,2003

In [5]:
authors[authors['Paper ID'] == '2005-0806']

Empty DataFrame
Columns: [Paper ID, Title, Number of Authors, Author Position, Author Name, Author Affiliation, Year]
Index: []

In [6]:
paperid_authors_dic = {}
for paper_id, group in authors.groupby('Paper ID'):
    paperid_authors_dic[paper_id] = np.array((group['Author Name']))

In [7]:
paperid_authors_dic['2003-0001']

array(['Philip Napoli'], dtype=object)

In [8]:
papers = pd.read_csv('../data/processed/paper_df.csv')
papers.head()

,Paper ID,Title,Paper Type,Abstract,Number of Authors,Year,Session,Division/Unit,Authors
0,2003-0001,Access to the Media Versus Access to Audiences...,Paper,When the issue of speakers' rights of access a...,1.0,2003,NaN,NaN,['Philip Napoli']
1,2003-0002,Accounting Episodes as Communicative Practice ...,Paper,In this paper I describe accounting episodes a...,1.0,2003,NaN,NaN,['Mariko Kotani']
2,2003-0003,Accounts of Single-fatherhood: A case study,Paper,Abstract\nRelying on single-fathersÂ’ accounts ...,4.0,2003,NaN,NaN,['Tara M Emmers-Sommer' 'David Rhea' 'Laura Tr...
3,2003-0004,A Challenge to the Duel: Socializing Dedicated...,Paper,This paper explores the structural controls av...,1.0,2003,NaN,NaN,['Chad Tew']
4,2003-0005,A chatroom ethnography: Evolution of community...,Paper,"In creating an ethnography about the City, Tex...",1.0,2003,NaN,NaN,['Audra Diers']

In [9]:
papers[papers['Paper ID'] == '2005-0806']

,Paper ID,Title,Paper Type,Abstract,Number of Authors,Year,Session,Division/Unit,Authors
2616,2005-0806,Interpersonal and Intrapersonal Motives to Acq...,Paper,The present investigation explores the influen...,NaN,2005,Why and How We Communication: The Role of Moti...,Information Systems,[]

In [10]:
papers['newAuthors'] = papers['Paper ID'].apply(lambda x: paperid_authors_dic.get(x, np.array([])))

In [20]:
# papers['Authors'] = papers['Paper ID'].apply(lambda x: ", ".join(paperid_authors_dic[x]) if x in paperid_authors_dic else np.nan)

In [13]:
papers['Authors'][0]

"['Philip Napoli']"