In [2]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv('../data/processed/authors.csv')
df.head()

,Paper ID,Title,Number of Authors,Author Position,Author Name,Author Affiliation,Year
0,2003-0001,Access to the Media Versus Access to Audiences...,1,1,Philip Napoli,Fordham U,2003
1,2003-0002,Accounting Episodes as Communicative Practice ...,1,1,Mariko Kotani,Aoyama Gakuin University,2003
2,2003-0003,Accounts of Single-fatherhood: A case study,4,1,Tara M Emmers-Sommer,University of Arizona,2003
3,2003-0003,Accounts of Single-fatherhood: A case study,4,2,David Rhea,University of Arizona,2003
4,2003-0003,Accounts of Single-fatherhood: A case study,4,3,Laura Triplett,University of Arizona,2003

In [5]:
df[df['Author Affiliation'].isnull()]

,Paper ID,Title,Number of Authors,Author Position,Author Name,Author Affiliation,Year
57,2003-0031,A Meta-Analytical Review of the Relationship b...,3,2,Lawrence R. Wheeless,NaN,2003
65,2003-0036,A Multilevel Study of Interpersonal Influence ...,1,1,Stacy Wolski,NaN,2003
81,2003-0046,and the way its worded makes it : Discursiv...,1,1,Jennifer R. Horner,NaN,2003
88,2003-0050,A New Approach to U.S. Copyright Policy agains...,1,1,Seung-Hwan Mun,NaN,2003
96,2003-0055,An Organizational Digital Divide: Web Adoption...,1,1,Tomoko Kanayama,NaN,2003
...,...,...,...,...,...,...,...
54110,2018-0149,Framing Effects and Algorithm-Based News Recom...,4,4,Hyesun Choung,NaN,2018
54221,2018-0200,ACT: An Evidence Based Macro Framework to Exam...,11,8,Charlotte Lapsansky,NaN,2018
54237,2018-0210,Critical Analysis of Transmedia Storytelling o...,1,1,Dal Yong Jin,NaN,2018
54263,2018-0225,With Their Own Voice: Inducing News Media Trus...,5,2,Magnus Hoem Iversen,NaN,2018
54283,2018-0238,Anti-Immigrationism on Twitter: Hegemonic Disc...,1,1,Cinzia Padovani,NaN,2018