In [39]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import pandas as pd
import json 
import numpy as np

uri = "mongodb+srv://hhao9:ica_conf_data@cluster0.xi6gx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

print(client.list_database_names())

db = client.ica_conf

print(db.list_collection_names())

papers_collection = db['papers']
authors_collection = db['authors']
sessions_collection = db['sessions']

['carsApp', 'ica_conf', 'test', 'admin', 'local']
['authors', 'papers', 'sessions']

In [40]:
papers = pd.read_csv('../data/processed/paper_df.csv')
papers.sample()

,Paper ID,Title,Paper Type,Abstract,Number of Authors,Year,Session,Division/Unit
19607,2015-0540,Life Experience Narratives in the Digital Spac...,Paper Session,"On July 8, 2013, Sports Illustrated media crit...",3.0,2015,"Doing Things With Images: Practices, Strategie...",Visual Communication Studies

In [41]:
papers.shape

(27466, 8)

In [42]:
# convert to dicts
paper_records = papers.to_dict(orient='records')
paper_records[1:3]

[{'Paper ID': '2003-0002',
  'Title': 'Accounting Episodes as Communicative Practice Affecting Cultural Knowledge',
  'Paper Type': 'Paper',
  'Abstract': "In this paper I describe accounting episodes as communicative practice that can affect participants' cultural knowledge in boundaries of speech communities. On the basis of in-depth interviews with Japanese-speaking informants in the United States, I analyze: (1) the episodes in which informants' cultural knowledge about appropriate conduct was affected or broadened by their engaging in accounting practices with American English speakers; and (2) the cases in which informants did not pursue the problematic events that they had faced with English speakers because, in reality, they saw difficulty in doing so. In the latter cases, informants' cultural knowledge and their perception of the boundaries tended to remain as they had been before the problematic events. The study supports the idea that boundaries of speech communities are dynamic but also suggests that they would not change so easily because participants often choose not to engage in accounting episodes.",
  'Number of Authors': 1.0,
  'Year': 2003,
  'Session': nan,
  'Division/Unit': nan},
 {'Paper ID': '2003-0003',
  'Title': 'Accounts of Single-fatherhood: A case study',
  'Paper Type': 'Paper',
  'Abstract': 'Abstract\nRelying on single-fathers\x92 accounts in a case-study approach, this study examined the experience of single-fatherhood and the communication practices between single-fathers and their child. Single-fathers also answered closed-ended questions. Results offer insight into the challenges and joys that single-fathers experience. Single-fathers clearly disclosed love for their child and a valuation of their relationship with their child, and expressed exasperation and dissatisfaction with the court system and negative perceptions of single-fathers by society. More detailed information and discussion follow.',
  'Number of Authors': 4.0,
  'Year': 2003,
  'Session': nan,
  'Division/Unit': nan}]

In [43]:
# papers_collection.insert_many(paper_records)

## Authors

In [44]:
authors = pd.read_csv('../data/processed/author_df.csv')
authors.sample()

,Paper ID,Title,Number of Authors,Author Position,Author Name,Author Affiliation,Year
26500,2012-1033,Narratives of National Communities in Conflict...,1,1,Yiftach Ron,Hebrew University,2012

In [45]:
authors.shape

(54316, 7)

In [46]:
author_records = authors.to_dict(orient='records')
author_records[1:3]

[{'Paper ID': '2003-0002',
  'Title': 'Accounting Episodes as Communicative Practice Affecting Cultural Knowledge',
  'Number of Authors': 1,
  'Author Position': 1,
  'Author Name': 'Mariko Kotani',
  'Author Affiliation': 'Aoyama Gakuin University',
  'Year': 2003},
 {'Paper ID': '2003-0003',
  'Title': 'Accounts of Single-fatherhood: A case study',
  'Number of Authors': 4,
  'Author Position': 1,
  'Author Name': 'Tara M Emmers-Sommer',
  'Author Affiliation': 'University of Arizona',
  'Year': 2003}]

In [47]:
# authors_collection.insert_many(author_records)

## Sessions

In [48]:
sessions = pd.read_csv('../data/processed/session_df.csv')
sessions.head()

,Year,Session Type,Session Title,Division/Unit,Chair Name,Chair Afiliation
0,2014,Paper Session,Meda Coverage of Health Issues,Health Communication,Xiaoli Nan,U of Maryland
1,2014,Paper Session,Cognition and Health,Health Communication,Seth M. Noar,U of North Carolina
2,2014,Paper Session,Changing the News 140 Characters At a Time: Tw...,Journalism Studies,Seth C. Lewis,U of Minnesota
3,2014,Paper Session,Media and Political Contestation in Greater China,Global Communication and Social Change,Guobin Yang,University of Pennsylvania
4,2014,Paper Session,Between Science and the Public: Studies in Sci...,Journalism Studies,Henrik Ornebring,Karlstad U

In [49]:
sessions.shape

(1859, 6)

In [50]:
session_records = sessions.to_dict(orient='records')
session_records[1:3]

[{'Year': 2014,
  'Session Type': 'Paper Session',
  'Session Title': 'Cognition and Health',
  'Division/Unit': 'Health Communication',
  'Chair Name': 'Seth M. Noar',
  'Chair Afiliation': 'U of North Carolina'},
 {'Year': 2014,
  'Session Type': 'Paper Session',
  'Session Title': "Changing the News 140 Characters At a Time: Twitter's Impact on Journalism",
  'Division/Unit': 'Journalism Studies',
  'Chair Name': 'Seth C. Lewis',
  'Chair Afiliation': 'U of Minnesota'}]

In [51]:
# sessions_collection.insert_many(session_records)